						<table class="list-table" cellspacing=0 cellpadding=0>
							<thead>
								<tr>
									<th><input type="checkbox" name="allcheck" /></th>
									<th>名称</th>
									<th>大小</th>
									<th>格式</th>
									<th>挂载</th>
									<th>挂载点</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="checkbox" /></td>
									<td>设备2</td>
									<td>1GB</td>
									<td>格式1</td>
									<td>云主机2</td>
									<td>挂载点2</td>
									<td>
										<select class="action-select">
											<option>选择操作</option>
											<option value="1">挂载</option>
											<option value="2">卸载</option>
											<option>删除</option>
											<option>快照</option>
											<option>备份</option>
										</select>
										<input class="list-id" type="hidden" value="2" />
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" /></td>
									<td>设备3</td>
									<td>1GB</td>
									<td>格式1</td>
									<td>云主机3</td>
									<td>挂载点3</td>
									<td>
										<select class="action-select">
											<option>选择操作</option>
											<option value="1">挂载</option>
											<option value="2">卸载</option>
											<option>删除</option>
											<option>快照</option>
											<option>备份</option>
										</select>
										<input class="list-id" type="hidden" value="3" />
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" /></td>
									<td>设备4</td>
									<td>1GB</td>
									<td>格式1</td>
									<td>云主机4</td>
									<td>挂载点4</td>
									<td>
										<select class="action-select">
											<option>选择操作</option>
											<option value="1">挂载</option>
											<option value="2">卸载</option>
											<option>删除</option>
											<option>快照</option>
											<option>备份</option>
										</select>
										<input class="list-id" type="hidden" value="4" />
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" /></td>
									<td>设备5</td>
									<td>1GB</td>
									<td>格式1</td>
									<td>云主机5</td>
									<td>挂载点5</td>
									<td>
										<select class="action-select">
											<option>选择操作</option>
											<option value="1">挂载</option>
											<option value="2">卸载</option>
											<option>删除</option>
											<option>快照</option>
											<option>备份</option>
										</select>
										<input class="list-id" type="hidden" value="5" />
									</td>
								</tr>
							</tbody>
						</table>
					

						<div class="search_page">
							<span>共 25 条 每页 <input type="text" style="width:25px;" value="10" /> 条
								<input type="button" class="pbtn_off" value="首页" />
								<input type="button" class="pbtn_off" value="上一页" />
								<input type="button" class="pbtn_on" value="下一页" />
								<input type="button" class="pbtn_on" value="尾页" />
								当前 1/2 页
								转到第 <input type="text" style="width:30px;" value="" /> 页
								<input type="button" class="pbtn_on" value="跳转" />
							</span>
						</div>