@charset "utf-8";
body{font-size: 12px;font-family: Arial,"宋体",Helvetica,sans-serif;}
*{margin:0;padding:0; list-style: none;}
img{border:0px none;}
:focus { outline: none; } /*针对Firfox去除虚线框*/
a,area { blr:expression_r(this.onFocus=this.blur());} /*针对IE去除虚线框*/

/*header*/
.header{margin:0;width:100%;min-width:1000px;position:fixed;top:0;left:0;z-index:99999;}
.top-bar{margin:0;width:100%;height:24px;}
.top-bar ul{float:right;margin-right:7%;}
.top-bar ul li{float:left;line-height:24px;margin-left:5px;}
.topmenu{margin:0;width:100%;min-height:10px;overflow:hidden;}
.logo{width:66px;float:left;padding-top:5px;padding-bottom:5px;margin-left:3%;}
.topmenu > ul{margin-left:30px;float:left;}
.topmenu > ul > li{float:left;}
.topmenu > ul > li > a{padding: 17px 12px;font-size:16px;line-height:16px;display:block;}

.drop-menu{
	position: absolute;
	margin-top:0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	font-size: 14px;
	list-style: none;
}

.drop-menu a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-size:12px;
	font-weight: normal;
	line-height: 1.42857;
	white-space: nowrap;
}
/*header*/

/*content*/
.content{margin:74px auto 0 auto;width:100%;min-width:1024px;min-height:10px;overflow:hidden;}
/*content*/

.inner-title{width:100%;height:141px;margin:0 auto;}

/*footer*/
.footer{
	margin:0;
	width:100%;
	min-width:1000px;
	background: none repeat scroll 0% 0% #333;
	color: #999;
	margin: 0px auto;
	padding: 20px 0px;
	text-align: center;
}
/*footer*/